@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	background: rgb(229, 229, 229);
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	background: rgb(255, 255, 255);
}

/* "-------------------" */

.header {
	background: rgb(34, 34, 34);
}

.header_btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 230px;
	background: rgb(34, 34, 34);
}

.btn_cabinet {
	margin: auto 33px;
}

.logo {
	margin: 19px 41px 19px auto;
}

.btn {
	background: transparent;
	background-color: rgb(34, 34, 34, 0);
	border: none;
}

/* "----section3-------" */

.hidden {
	padding-bottom: 60px;
}
.main {
	/* background: rgb(255, 255, 255); */
	/* padding-bottom: 60px; */
}

/* .into_container {
	margin-bottom: 0 230px;
} */
.pos_section1 {
	display: flex;
	align-items: center;
	justify-content: start;
	background: rgb(241, 228, 230);
	gap: 63px;
}

.text {
	padding-left: 16px;
	border-width: 0 0 0 12px;
	border-style: solid;
	border-left-color: rgb(241, 109, 127);
	/* margin-left: 63.42px; */
	/* margin-right: 331px; */
	height: 93px;
	width: 377px;
	float: left;
}

/* "-------------------" */

.pos_section2 {
	display: flex;
	justify-content: space-between;
	padding: 65px 0 30px;
	margin: auto 230px;
	justify-content: baseline;
}

.down_img {
	display: flex;
	justify-content: center;
	padding-bottom: 96px;
}

.categoryH3 {
	display: flex;
	justify-content: center;
	color: rgb(34, 34, 34);
	font-family: Lato;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0%;
}

.categoryP {
	color: rgb(159, 159, 159);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	display: flex;
	justify-content: center;
	padding-top: 6px;
	padding-bottom: 48px;
}

.pos_section3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	/* display: grid; */
	gap: 30px;
	margin: 0 230px;
}

.div_section3 {
	max-width: 360px;
	/* margin: 0 30px; */
	background: rgb(248, 248, 248);
}

.div_section3 h3 {
	height: 16px;
	padding: 24px 16px 0;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
}

.div_section3 p {
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
}

.textS3 {
	color: rgb(93, 93, 93);
	padding: 24px 16px 16px 16px;
}
.price {
	padding: 0 16px 16px 16px;
	/* position: static; */
	/* width: 52.46px; */
	/* height: 19px; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* padding: 24px 16px 24px 16px; */
	/* flex: none; */
	/* order: 2; */
	/* flex-grow: 0; */

	color: rgb(241, 109, 127);
	/* font-family: Lato; */
	/* font-size: 16px; */
	/* font-weight: 400; */
	/* line-height: 19px; */
	letter-spacing: 0%;
}

.btn_down {
display: flex;
color: rgb(242, 99, 118);
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 15px 39px;
margin: 48px auto 0;
border-color: rgb(242, 99, 118);
background: rgb(255, 255, 255);
}
