@font-face {
	font-family: "Gilroy-Bold";
	src: url("./fonts/Gilroy-Bold.woff") format("woff");
	/* font-style: normal;
	font-weight: normal; */
}
@font-face {
	font-family: "Gilroy-Medium";
	src: url("./fonts/Gilroy-Medium.woff") format("woff");
	/* font-style: normal;
	font-weight: normal; */
}

@font-face {
	font-family: "Gilroy-Regular";
	/* font-style: normal;
	font-weight: normal; */
	src: url("./fonts/Gilroy-Regular.woff"), format("woff");
}

/* Начальный шаблон */

/* Знак * обращается ко всем элементам html */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	background: rgb(255, 255, 255);
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	margin-top: 40px;
	margin-bottom: 84px;
	font-family: "Gilroy-Medium";
	font-size: 14px;
	font-weight: 400;
}

.head_flex {
	display: flex;
	justify-content: space-between;
}

.headerLink {
	padding: 11px 0;
	width: 533px;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.main {
	margin-bottom: 163px;
}

.main_flex {
	display: flex;
	justify-content: space-between;
}

.main_flex_left {
	display: flex;
	flex-direction: column;
}

h1 {
	color: rgb(0, 0, 0);
	font-family: "Gilroy-Bold";
	font-size: 60px;
	font-weight: 400;
	text-align: left;
	max-width: 533px;
}

.margineP {
	margin-top: 17px;
	margin-bottom: 37px;
	max-width: 466px;
}

p {
	color: rgb(136, 136, 136);
	font-family: "Gilroy-Medium";
	font-size: 20px;
	font-weight: 400;
	text-align: left;
}

.btnStart {
	border-radius: 50px;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
	background: rgb(242, 88, 34);
	padding: 16px 35px;
	cursor: pointer;
}

.btnStartText {
	color: rgb(255, 255, 255);
	font-family: "Gilroy-Bold";
	font-size: 15px;
	font-weight: 400;
	border: none;
}

.btnWatchText {
	color: rgb(170, 170, 170);
	background-color: rgb(255, 255, 255);
	font-family: "Gilroy-Bold";
	font-size: 15px;
	font-weight: 400;
	border: none;
	margin-left: 72px;
	cursor: pointer;
}

.footer_flex {
	display: flex;
	justify-content: space-between;
	padding: 96px;
}

.cardList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.cardListLittle {
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	background: #ffffff;
}

.list1 div {
	padding: 50px;
	transition: transform 0.5s;
	margin: 0 auto;
}

.list1 div:hover {
	transform: scale(1.2);
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	background: rgb(255, 255, 255);
}

.list1 h2 {
	font-family: "Gilroy-Bold";
	margin-top: 25px;
	margin-bottom: 17px;
}

.list1 p {
	color: rgb(102, 102, 102);
	font-family: "Gilroy-Regular";
	font-size: 15px;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 25px;
}

.list1 a {
	color: rgb(0, 0, 0);
	font-family: "Gilroy-Bold";
	font-size: 11px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: left;
}
